<div class="login">
  <h1 class="h1">Resend confirmation instructions</h1>
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="my-4">
      <%= f.label :email, class: "input-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "input" %>
    </div>
    <div class="flex">
      <%= f.submit "Resend confirmation instructions", class: "button primary" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
