<% data = get_current_status() %>
<% show_current_status = data['message'] && !data['error'].present? %>
<% unauthorized = data['message'] === "401 Unauthorized" %>
<% current_status = Status.new %>
<% current_status.text = data['message'] %>
<% current_status.busy = data['availability'] == 'busy' %>
<% current_status.emoji = data['emoji'] %>
<% if data['clear_status_at'].present? %>
  <% current_status.expires = Time.zone.parse(data['clear_status_at']) %>
<% end %>
<% if show_current_status %>
  <div class="border-b dark:border-gray-800 p-3 bg-default text-sm flex flex-wrap gap-2<%= unauthorized ? ' bg-red-100 text-red-700 font-bold' : '' %>">
    <% if unauthorized %>
      <div class="w-full flex gap-4 justify-between items-center">
        There's a problem with your GitLab Personal Access Token
        <%= link_to 'Update yout PAT', edit_user_registration_path(:focus => 'pat'), class: 'button destructive wire small m-0' %>
      </div>
    <% else %>
      <div class="text-gray-500">
        Your current GitLab status:
      </div>
      <div>
        <p>
          <% if current_status.emoji.present? %>
            <span class="font-emoji"><%= get_emoji_by_name(current_status.emoji) %></span>
          <% end %>
          <span>
            <%= current_status.text %>
          </span>
          <% if current_status.busy %>
            <span class="inline-block bg-yellow-300 text-yellow-800 dark:bg-yellow-500 dark:text-yellow-950 text-xs rounded-lg px-2 py-0.5 font-normal align-middle">
              Busy
            </span>
          <% end %>
          <% if current_status.expires.present? %>
            <span class="text-gray-500">
              (expires <%= format_date_time(current_status.expires) %>)
            </span>
          <% end %>
        </p>
      </div>
    <% end %>
  </div>
<% end %>