<%= form_with(model: status) do |form| %>
  <% status.text = params[:text] unless status.text %>
  <% status.busy = params[:busy] unless status.busy %>
  <% status.emoji = params[:emoji] unless status.emoji %>
  <% if status.errors.any? %>
    <div class="alert danger">
      <h2><%= pluralize(status.errors.count, "error") %> prevented this status from being saved:</h2>
      <ul class="list-disc pl-4">
        <% status.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="my-4 w-full" data-controller="countchar">
    <%= form.label :text, 'Status', class: "input-label" %>
    <%= form.text_field :text, required: true, autofocus: true, class: "input", data: { countchar_target: 'name', action: 'keyup->countchar#countCharacters' } %>
    <div class="text-sm opacity-90 mt-1" data-countchar-target='wrapper'>
      Characters: <span data-countchar-target='counter'><%= status.text.to_s.length %></span>/100
    </div>
  </div>
  <div class="my-4 w-full flex gap-4 flex-col sm:flex-wrap">
    <div class="flex gap-4 flex-grow flex-col sm:flex-row">
      <div class="flex-grow">
        <%= form.label :starts, class: "input-label" %>
        <!-- Default start time to one minute in the future if it doesn't exist -->
        <%= form.datetime_field :starts, class: "input", :value => status.starts || one_minute_from_now_datetime, min: DateTime.current, required: true, include_seconds: false %>
      </div>
      <div class="flex-grow">
        <%= form.label :expires, 'Expires (optional)', class: "input-label" %>
        <%= form.datetime_field :expires, class: "input", min: status.starts || one_minute_from_now_date %>
      </div>
    </div>
    <div class="flex gap-4 items-center max-sm:flex-col max-sm:items-start">
      <div class="flex gap-1.5 items-center input-label mb-0">
        <%= form.check_box :busy, class: "checkbox" %>
        <%= form.label :busy %>
      </div>
      <noscript>
        <div class="max-md:w-full">
          <%= form.label :emoji, 'Emoji (optional)', class: "input-label" %>
          <%= form.select :emoji, [['None', nil], *EMOJIS], {}, class: "input" %>
        </div>
      </noscript>
      <div class="flex">
        <button type="button" id="emoji-picker-trigger" class="button p-2 m-0 flex justify-center items-center gap-2" title="Edit emoji">
          <span id="emoji-display" class="font-emoji h-5"><%= get_emoji_by_name(status.emoji) || get_emoji_by_name("slightly_smiling_face") %></span>
          <pre id="emoji-display-name" class="font-mono text-sm"><%= status.emoji.present? ? ":" + status.emoji + ":"  : "Add emoji" %></pre>
        </button>
        <%= form.text_field :emoji, class: "hidden", id: "emoji-input" %>
      </div>
    </div>
  </div>
  <div class="mt-5 w-full flex gap-2">
    <%= form.submit 'Save', :class => "button primary" %>
    <%= link_to "Cancel", statuses_path, class: "button" %>
  </div>
<% end %>
