<div id="<%= dom_id status %>">
  <p class="text-lg font-semibold">
    <% if status.emoji.present? %>
      <span class="font-emoji"><%= get_emoji_by_name(status.emoji) %></span>
    <% end %>
    <%= status.text %>
    <% if status.busy %>
      <span class="inline-block bg-yellow-300 text-yellow-800 dark:bg-yellow-500 dark:text-yellow-950 text-xs rounded-lg px-2 py-0.5 font-normal align-middle">
        Busy
      </span>
    <% end %>
  </p>
  <% if status.starts %>
    <% unless status.done %>
      <p>
        Scheduled for <%= format_date_time(status.starts) %>
      </p>
    <% else %>
      <p>
        Posted <%= format_date_time(status.starts) %>
      </p>
    <% end %>
  <% end %>
  <% if status.expires %>
    <% unless status.expires < Time.current %>
      <p>
        Expires <%= format_date_time(status.expires) %>
      </p>
    <% else %>
      <p>
        Expired <%= format_date_time(status.expires) %>
      </p>
    <% end %>
  <% end %>
  <% if status.failed? %>
    <p class="text-red-600 dark:text-red-300 font-semibold text-sm">
      Status failed to post (last attempted <%= format_date_time(status.updated_at) %>)
    </p>
  <% end %>
</div>
