<% user_statuses = @statuses.filter{ |s| s.created_by == current_user.id }.sort_by(&:starts) %>
<% filtered_statuses = user_statuses.filter{ |s| !s.done } %>
<% done_statuses = user_statuses.filter{ |s| s.done }.reverse %>
<% if current_user.personal_access_token.present? %>
  <h1 class="h1 mb-4">Scheduled statuses</h1>
  <% unless filtered_statuses.empty? %>
    <ul id="statuses">
      <% filtered_statuses.each do |status| %>
        <li class="status list-none mb-3 last:mb-0 rounded-lg border dark:border-gray-500 <%= status.failed? ? 'border-red-600 bg-red-50 dark:bg-red-950 dark:border-red-400 dark:bg-opacity-50' : '' %>">
          <%= link_to status, class: 'rounded' do %>
            <div class="p-3">
              <%= render status %>
            </div>
          <% end %>
        </li>
      <% end %>
      <li class="status list-none mb-3 last:mb-0 flex">
        <%= link_to "Add status", new_status_path, class: "button primary" %>
      </li>
    </ul>
  <% else %>
    <div class="flex">
      <%= link_to "Add status", new_status_path, class: "button primary" %>
    </div>
  <% end %>
  <% if done_statuses.any? %>
    <details>
      <summary class="h1 my-4 cursor-pointer">
        Posted statuses (<%= done_statuses.length %>)
      </summary>
      <ul id="past-statuses">
        <% done_statuses.each do |status| %>
          <li class="status list-none mb-3 last:mb-0 rounded-lg border dark:border-gray-500">
            <%= link_to status, class: 'rounded' do %>
              <div class="p-3">
                <%= render status %>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </details>
  <% end %>
<% else %>
  <div class="w-screen h-screen fixed left-0 right-0 top-12 bottom-0 bg-gray-950 bg-opacity-30 flex items-center justify-center">
    <div class="p-6 rounded-lg bg-blue-50 dark:bg-blue-950 max-w-prose">
      <h1 class="h1 mb-4">Let's get started</h1>
      <p class="my-4">
        This is a lightweight app for scheduling future GitLab user statuses. It uses <a href="https://docs.gitlab.com/ee/api/users.html#user-status" class="link" target="_blank">GitLab's API</a> to set your status at the desired time and clear it at the desired time.
      </p>
      <p class="my-4">
        To use this app, you need to add your <a class="link" target="_blank" href="https://docs.gitlab.com/ee/user/profile/personal_access_tokens.html">GitLab Personal Access token</a> to your <%= link_to "profile", edit_user_registration_path, class: "link" %>. Be sure to also update your time zone if you did not set it when registering.
      </p>
      <div class="flex justify-end">
        <%= link_to "Edit profile", edit_user_registration_path, class: "button primary m-0" %>
      </div>
      <div>
      </div>
    <% end %>
