<div class="inline">
  <%= link_to statuses_path, class: "link text-sm inline-flex items-center gap-1" do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="w-[0.85em] h-[0.85em]" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
    </svg>
    <span>Back to statuses
    </span>
  <% end %>
</div>
<h1 class="h1">New status</h1>
<%= render "form", status: @status %>
