<div class="login">
  <h1 class="h1">Forgot your password?</h1>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="field">
      <%= f.label :email, class: "input-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
    </div>
    <div class="flex my-4">
      <%= f.submit "Send me reset password instructions", :class => "button primary" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
