<div class="mt-4 mb-20 mx-auto max-w-5xl">
  <h1 class="text-7xl font-bold gradient-text mb-12 max-sm:flex lg:inline-flex items-center max-sm:flex-col max-sm:items-start gap-4">
    <%= image_tag "logo.png", class: "w-16 h-16 inline", alt: "" %>
    GitLab Status Minder
  </h1>
  <div class="sm:flex gap-6">
    <div class="my-12 basis-1/2 sm:home-card max-sm:text-lg">
      <h2 class="text-2xl max-sm:text-3xl font-semibold gradient-text mb-2">What is this?</h2>
      <p class="leading-tight">
        GitLab Status Minder is a small, open-source app for scheduling GitLab user statuses.
      </p>
    </div>
    <div class="my-12 basis-1/2 sm:home-card max-sm:text-lg">
      <h2 class="text-2xl max-sm:text-3xl font-semibold gradient-text mb-2">How does it work?</h2>
      <p class="leading-tight">
        Create an account, add a <a target="_blank" class="link" href="https://docs.gitlab.com/ee/user/profile/personal_access_tokens.html">GitLab Personal Access Token</a>, and start scheduling statuses to keep your teammates updated about your availability.
      </p>
    </div>
  </div>
  <div class="flex gap-2 flex-col sm:flex-row">
    <%= link_to "Sign up", new_user_registration_path, class: "button primary m-0 text-center" %>
    <%= link_to "Login", new_user_session_path, class: "button m-0 text-center" %>
  </div>
  <div class="fixed bottom-0 left-0 right-0 p-4 flex justify-end bg-default items-center gap-2 max-sm:static max-sm:px-0">
    <a class="link inline-block" href="https://gitlab.com/chadlavimoniere/gitlab-status-minder" target="_blank">
      <div class="flex justify-end bg-default items-center gap-2 text-inherit text-sm">
        <svg class="w-[1em] h-[1em]" xmlns="http://www.w3.org/2000/svg" viewBox="80 80 220 220"><g id="gitlab-logo"><path class="fill-current" d="M282.83,170.73l-.27-.69-26.14-68.22a6.81,6.81,0,0,0-2.69-3.24,7,7,0,0,0-8,.43,7,7,0,0,0-2.32,3.52l-17.65,54H154.29l-17.65-54A6.86,6.86,0,0,0,134.32,99a7,7,0,0,0-8-.43,6.87,6.87,0,0,0-2.69,3.24L97.44,170l-.26.69a48.54,48.54,0,0,0,16.1,56.1l.09.07.24.17,39.82,29.82,19.7,14.91,12,9.06a8.07,8.07,0,0,0,9.76,0l12-9.06,19.7-14.91,40.06-30,.1-.08A48.56,48.56,0,0,0,282.83,170.73Z"/></g></svg>
        View source
      </div>
    </a>
    <div>
    </div>
