<div class="login">
  <h1 class="h1">Log in</h1>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="block my-4">
      <%= f.label :email, class:"input-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
    </div>
    <div class="block my-4">
      <%= f.label :password, class:"input-label" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "input" %>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="flex items-center gap-1.5">
        <%= f.check_box :remember_me, class: "checkbox" %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
    <div class="flex my-4">
      <%= f.submit "Log in", :class => "button primary" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
