@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GitLab";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("GitLab Sans"), url("GitLabSans.otf") format("opentype");
}
@font-face {
  font-family: "GitLab";
  font-style: semibold;
  font-weight: 500;
  font-display: swap;
  src: local("GitLab Sans"), url("GitLabSans.otf") format("opentype");
}
@font-face {
  font-family: "GitLab";
  font-style: bold;
  font-weight: 600;
  font-display: swap;
  src: local("GitLab Sans"), url("GitLabSans.otf") format("opentype");
}
@font-face {
  font-family: "GitLab";
  font-style: black;
  font-weight: 700;
  font-display: swap;
  src: local("GitLab Sans"), url("GitLabSans.otf") format("opentype");
}
@font-face {
  font-family: "GitLab";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("GitLab Sans"), url("GitLabSans-Italic.otf") format("opentype");
}
@font-face {
  font-family: "GitLab Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("GitLab Sans"), url("GitLabMono.ttf") format("truetype");
}
@font-face {
  font-family: "GitLab Mono";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("GitLab Sans"), url("GitLabMono-Italic.ttf") format("truetype");
}

@layer components {
  .bg-default {
    @apply bg-white text-black dark:bg-gray-950 dark:text-gray-300;
  }

  .h1 {
    @apply text-2xl font-semibold leading-tight;
  }

  .button {
    @apply py-2 px-4 appearance-none rounded my-2 border block dark:border-gray-600;
  }
  .button:focus,
  .button:hover {
    @apply bg-gray-50 dark:bg-gray-900;
  }
  .button:focus,
  .link:focus,
  .checkbox:focus,
  .button:focus-visible,
  .link:focus-visible,
  .checkbox:focus-visible {
    @apply outline-none ring ring-offset-1 ring-purple-600 dark:ring-purple-800;
  }
  .button.primary {
    @apply bg-purple-700 text-white border-purple-700 dark:bg-purple-800 dark:border-purple-800;
  }
  .button.primary:focus,
  .button.primary:hover {
    @apply bg-purple-800 dark:bg-purple-900;
  }
  .button.destructive {
    @apply bg-red-600 text-white border-red-600 dark:bg-red-800 dark:border-red-800;
  }
  .button.destructive:focus-visible {
    @apply ring-red-600 dark:ring-red-800;
  }
  .button.destructive:focus,
  .button.destructive:hover {
    @apply bg-red-700 dark:bg-red-900;
  }
  .button.wire {
    @apply !bg-transparent;
  }
  .button.wire.primary {
    @apply text-purple-600 dark:text-purple-800;
  }
  .button.wire.destructive {
    @apply text-red-600 dark:text-red-800;
  }
  .button.small {
    @apply text-sm py-1 px-3;
  }

  .input-label {
    @apply block text-sm mb-1;
  }
  .input {
    @apply rounded !border-gray-300 w-full bg-inherit dark:[color-scheme:dark] dark:border-gray-600;
  }
  .input:focus-visible {
    @apply outline-none ring ring-offset-1 ring-purple-600;
  }

  .checkbox {
    @apply bg-inherit rounded cursor-pointer text-purple-600 !border-gray-300;
  }
  .checkbox:checked {
    @apply !border-purple-600;
  }

  .link {
    @apply text-purple-600 dark:text-purple-400;
  }

  .alert {
    @apply p-4 border rounded mb-4;
  }
  .alert.success {
    @apply bg-green-100 text-green-800 border-green-600 dark:bg-green-950 dark:text-green-300 dark:border-green-950;
  }
  .alert.danger {
    @apply bg-red-100 text-red-800 border-red-600 dark:bg-red-950 dark:text-red-300 dark:border-red-950;
  }

  .login {
    @apply w-96 mx-auto max-w-full;
  }

  .gradient-text {
    @apply from-purple-600 via-pink-600 to-blue-600 bg-gradient-to-r bg-clip-text text-transparent;
  }

  .home-card {
    @apply p-6 rounded-xl bg-purple-100 dark:bg-gray-900 border bg-opacity-40 border-purple-200 dark:border-purple-600 shadow-sm;
  }

  .code {
    @apply font-mono p-1 rounded bg-blue-100 text-blue-800 dark:bg-blue-950 dark:text-blue-300 text-sm font-semibold;
  }
}

.with-timelines:before {
  @apply border-l border-purple-300 dark:border-purple-400;
}
.with-timelines .status:not(:only-child):before {
  @apply border-b border-purple-300 dark:border-purple-400;
}

#statuses:has(.status:not(:only-child)),
#past-statuses:has(.status:not(:only-child)) {
  @apply relative ml-4 mb-4;
}
#statuses:before,
#past-statuses:before {
  content: "";
  @apply absolute h-full -left-4;
}

#statuses .status,
#past-statuses .status {
  @apply relative;
}
#statuses .status:before,
#past-statuses .status:before {
  content: "";
  @apply absolute w-4 -left-4 top-1/2;
}
