<!DOCTYPE html>
<html>
  <head>
    <title>GitLab Status Minder</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="description" content="Schedule your GitLab statuses">
    <meta property="og:image" content="<%= image_url('seo.png') %>" />
    <meta property="og:description" content="Schedule your GitLab statuses" />
    <meta property="og:title" content="GitLab Status Minder" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Schedule your GitLab statuses" />
    <meta name="twitter:image" content="<%= image_url('seo.png') %>" />
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-default antialiased">
    <div class="sticky z-10 bg-default top-0 flex gap-2 p-2 sm:items-center justify-between border-b dark:border-gray-800 h-12">
      <%= link_to :root, class:"link text-inherit rounded ring-offset-4" do %>
        <div class="flex gap-2 items-center">
          <%= image_tag "logo.png", class: " w-7 h-7", alt: "" %>
          <span class="text-lg font-semibold">
            GitLab Status Minder
          </span>
        </div>
      <% end %>
      <div class="flex gap-2 sm:items-center flex-col sm:flex-row sm:justify-end">
        <% if user_signed_in? %>
          <div data-controller="menu" class="relative">
            <div data-action="click->menu#toggle" class="flex items-center">                                                                                                                                           
              <button data-menu-target="button" type="button" class="p-2 border border-transparent hover:border-inherit button m-0" 
        id="options-menu" aria-haspopup="true" aria-expanded="true">
                <svg viewBox="0 0 100 80" class="w-3 h-3 fill-current">
                  <rect width="100" height="10" rx="8"></rect>
                  <rect y="30" width="100" height="10" rx="8"></rect>
                  <rect y="60" width="100" height="10" rx="8"></rect>
                </svg>
              </button>
            </div>
            <div data-menu-target="toggleable" class="z-10 absolute right-0 hidden mt-1 bg-default w-max max-w-96 origin-top-right rounded ring-1 ring-black dark:ring-white ring-opacity-5 max-sm:-right-2 max-sm:w-screen max-sm:max-w-none max-sm:rounded-none max-sm:h-[calc(100vh-48px)] max-sm:ring-0 max-sm:border-t max-sm:mt-2">
              <div class="py-3 px-4 text-gray-500 dark:text-gray-400 border-b break-all">
                <%= current_user.email %>
              </div>
              <div class="flex flex-col" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
                <%= link_to "Edit profile", edit_user_registration_path, class: "py-3 px-4 hover:bg-purple-50 dark:hover:bg-purple-950 hover:text-purple-600 dark:hover:text-purple-200 focus:text-purple-600 focus:outline-none focus:ring focus:ring-inset focus:ring-purple-600" %>
                <%= link_to "About", about_path, class: "py-3 px-4 hover:bg-purple-50 dark:hover:bg-purple-950 hover:text-purple-600 dark:hover:text-purple-200 focus:text-purple-600 focus:outline-none focus:ring focus:ring-inset focus:ring-purple-600" %>
                <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete }, class: "py-3 px-4 hover:bg-red-50 dark:hover:bg-red-950 focus:outline-none focus:ring focus:ring-inset focus:ring-red-600 text-red-600 dark:text-red-200"  %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% if current_user && current_user.personal_access_token.present? %>
    <%= render "statuses/current_status" %>
  <% end %>
  <main class="container mx-auto mt-5 px-5 flex flex-col">
    <% if notice %>
      <div class="alert success"><%= notice %></div>
    <% end %>
    <% if alert %>
      <div class="alert danger"><%= alert %></div>
    <% end %>
    <%= yield %>
  </main>
</body>
</html>
