<!DOCTYPE html>
<html>
  <head>
    <title>GitLab Status Minder</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="description" content="Schedule your GitLab statuses">
    <meta property="og:image" content="<%= image_url('seo.png') %>" />
    <meta property="og:description" content="Schedule your GitLab statuses" />
    <meta property="og:title" content="GitLab Status Minder" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Schedule your GitLab statuses" />
    <meta name="twitter:image" content="<%= image_url('seo.png') %>" />
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-default antialiased">
    <main class="container mx-auto mt-5 px-5 flex flex-col">
      <%= yield %>
    </main>
  </body>
</html>
