<h1 class="h1">Edit <%= resource_name.to_s.humanize %></h1>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="my-4">
    <%= f.label :email, class: "input-label" %>
    <%= f.email_field :email, autocomplete: "email", class: "input" %>
  </div>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <div class="my-4">
    <div class="input-label">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
    </div>
    <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
    <% if @minimum_password_length %>
      <em class="input-label"><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>
  <div class="my-4">
    <%= f.label :password_confirmation, class: "input-label" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
  </div>
  <div class="my-4">
    <%= f.label :time_zone, class: "input-label" %>
    <%= f.time_zone_select :time_zone, nil, {value: current_user.time_zone}, class: "input" %>
  </div>
  <div class="my-4">
    <%= f.label :personal_access_token, class: "input-label" %>
    <%= f.password_field :personal_access_token, autofocus: params[:focus] == "pat", :value => current_user.personal_access_token, class: "input" %>
  </div>
  <div class="my-4">
    <div class="input-label">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
    </div>
    <%= f.password_field :current_password, autocomplete: "current-password", class: "input" %>
  </div>
  <div class="flex justify-between max-sm:flex-col">
    <div class="flex gap-2 maxsm:gap-0 max-sm:flex-col">
      <%= f.submit "Update", :class => "button primary text-center" %>
      <%= link_to "Cancel", :back, class: "button text-center" %>
    </div>
    <div class="flex justify-between">
      <%= button_to "Delete account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, :class => "button destructive flex-grow" %>
    </div>
  </div>
<% end %>
