<div class="login">
  <h1 class="h1">Sign up</h1>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="my-4">
      <%= f.label :email, class: "input-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
    </div>
    <div class="my-4">
      <div class="input-label">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
      </div>
      <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
    </div>
    <div class="my-4">
      <%= f.label :password_confirmation, class: "input-label" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
    </div>
    <div class="my-4">
      <%= f.label :time_zone, class: "input-label" %>
      <%= f.time_zone_select :time_zone, nil, {}, class: "input" %>
    </div>
    <div class="actions">
      <%= f.submit "Sign up", class: "button primary" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
